/* 
OLD SUGGESTIONS
.suggestions {
    position: absolute;
    top: 40px; /* Adjust if necessary */
    /* left: 50%; Center relative to the search-section */
    /* transform: translateX(-75%); Adjust horizontal position */
    /* z-index: 1000;
    width: 200px; Match the width of your input fields */
    /* background: white;
    border: 1px solid #f4f4f4;
    border-top: none; */



    

